{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claims Management</title>
    <link rel="stylesheet" href="{% static 'claims_app/css/style.css' %}">
    <script defer src="https://unpkg.com/alpinejs@3.14.9/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <h1 x-data="{ message: 'Hello from Alpine!' }" x-text="message"></h1>
    <button hx-get="/" hx-target="h1">Click Me (HTMX)</button>
</body>
</html>
