*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #f9f9f9;
    padding: 0.5rem;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 260px;
    gap: 3px;
    overflow: hidden;
}

.row{
    padding: 2px;
    border: 2px #333;
}

@media (max-width: 768px) {
    .search-animated {
        max-width: 100%;
        margin: 0 8px;
    }
    
    .search-animated .form-control:focus {
        padding: 16px 46px 16px 22px;
        border-radius: 22px;
        font-size: 13px;
    }
    
    .search-animated .form-control:focus + .search-btn {
        width: 38px;
        height: 38px;
    }
    
    .form-control {
        font-size: 13px !important;
    }

    .row3 {
        justify-content: center;
    }
    
    .card-medical {
        max-width: 100% !important;
    }
}
