{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claims Management</title>
    <link rel="stylesheet" href="{% static 'claims_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'claims_app/css/search-filter.css' %}">
    <link rel="stylesheet" href="{% static 'claims_app/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'claims_app/css/details.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <script defer src="{% static 'claims_app/store.js' %}"></script>
    <script defer src="{% static 'claims_app/scripts.js' %}"></script>
    <script defer src="{% static 'claims_app/list.js' %}"></script>
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/htmx.org@2.x.x"></script>
</head>
<body>
    <!-- The app is split into three rows -->
    {% include "search-filter.html" %}
    {% include "table.html" %}
    {% include "details.html" %}
</body>
</html>
